<h1>Your Saved Items</h1>
<div class="rss_feed">	
	<% if @items.count == 0 %>
	<p>You don't have any items saved yet.</p>
	<% end %>
	<% @items.each do |i| %>
	<div class="rss_item">
		<table>
			<tr>
				<td style="width: 500px">
					<h3 class="rss_title">
						<a title='<%= i.title %>' href='<%= i.link %>'><%= i.title %>...</a> - 
						<%= Date.parse(i.pubdate) unless i.pubdate.nil? %>
					</h3>
					<%= i.description %>
				</td>
				<td style="width: 20%">
					<div class='button delete_button'
						 data-id='<%= i.id %>'>
						 X
					</div>
				</td>
			</tr>
		</table>
	</div>
	<% end %>
</div>